{% extends "components/base.html" %}

{% block content %}

<div class="container mt-3">
    <h2>Card Image</h2>
    <p>Image at the top (card-img-top):</p>
    <div class="card" style="width:100%" height="200px">
      <img class="card-img-top" src="/media/{{article.picture}}" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">{{ article.title | upper }}</h4>
        <p class="card-text d-none" id="description"> {{ article.description }}</p>
        <p class="card-text" id="truncate"> {{ article.description | truncatewords:12 }}</p>
        <button class="btn btn-primary" id="load">See More</button>
      </div>
    </div>

{% endblock content %}


